body{
    margin: 0px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links-container{
    display: flex;
    justify-content: end;
    list-style: none;
}

.nav-link{
    padding: 0px 5px;
}

main{
    padding: 10px;
}